:root {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
  --playfair-font: 'Playfair Display', georgia, serif;
  --header-font: 'Montserrat', Helvetica, sans-serif;
  --text-callout-font: 'Playfair Display', georgia, serif;
  --logo-title-font: 'Archivo Black', Helvetica, sans-serif;
  --title-font: 'Montserrat', Helvetica, sans-serif;
  --text-font: 'Montserrat', Helvetica, sans-serif;
  --link-color: rgb(0, 55, 127);
  --link-color-light: rgba(0, 55, 127, 0.5);
  --code-color: hsl(100, 33%, 90%);
  --variable-color: hsl(33, 100%, 30%);
  --nav-button-height-sm: 80px;
  --nav-button-height: 120px;
  --nav-button-width: 30px;
  --nav-button-width-sm: 25px;
  --nav-button-color: rgb(59, 94, 91);
  --home-header-bg1: hsla(200, 75%, 40%, 1);
  --home-header-bg2: hsla(200, 80%, 50%, 0.5);
  --home-header-bg3: hsla(200, 90%, 60%, 0.33);
  --home-header-bg4: hsla(200, 90%, 8%, 0);
}

.navButton {
  fill: var(--nav-button-color);
  opacity: 30%;
}
.navButton:hover {
  opacity: 100%;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
  --small-window: 500px;
  --large-desktop: 1024px;
}

th {
  white-space: nowrap;
}

table {
  text-align: left;
  position: relative;
}

p {
  margin: 0;
  padding: 0;
}

.summary-box p {
  color: white;
}

.textual p {
  margin-bottom: 1em;
}

.chakra-text > span.chakra-text {
  font-size: 1em !important;
  color: var(--variable-color);
}

.codeBlock > span.chakra-text {
  color: var(--code-color) !important;
}

a {
  text-decoration: underline !important;
    font-weight: 500;
}

p a {
    color: var(--link-color);
}

.smallCloseButton  svg {
    width: 10px;
    height: 10px;
}

.sizeSVG svg {
    width: 100%;
    height: 100%
}

h1 > i, h2 > i, h3 > i {
    font-family: var(--code-font);
    color: var(--code-color);
}

h1 > .chakra-text,
h2 > .chakra-text,
h3 > .chakra-text,
h4 > .chakra-text {
    font-size: 1em !important;
    white-space: normal;
}
