:root {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
  --playfair-font: 'Playfair Display', georgia, serif;
  --header-font: 'Montserrat', Helvetica, sans-serif;
  --text-callout-font: 'Playfair Display', georgia, serif;
  --logo-title-font: 'Archivo Black', Helvetica, sans-serif;
  --title-font: 'Montserrat', Helvetica, sans-serif;
  --text-font: 'Montserrat', Helvetica, sans-serif;
  --link-color: rgb(0, 55, 127);
  --link-color-light: rgba(0, 55, 127, 0.5);
  --code-color: hsl(100, 33%, 90%);
  --variable-color: hsl(100, 33%, 50%);
  --nav-button-height: calc(max(300px, 100vh / 2));
  --nav-button-width: 40px;
  --nav-button-color: rgb(178, 228, 224);
}

.navButton {
  fill: var(--nav-button-color);
  opacity: 20%;
}
.navButton:hover {
  opacity: 100%;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
  --small-window: 500px;
  --large-desktop: 1024px;
}

th {
  white-space: nowrap;
}

table {
  text-align: left;
  position: relative;
}

p {
  margin: 0;
  padding: 0;
}

.summary-box p {
  color: white;
}

.textual p {
  margin-bottom: 1em;
}

.chakra-text > span.chakra-text {
  font-size: 1em !important;
  color: var(--variable-color);
}

.codeBlock > span.chakra-text {
  color: var(--code-color) !important;
}
